[Unit]
Description=Sausage-store

[Service]
User=backend
Group=backend

StandardOutput=append:/var/sausage-store/logs/sausage-store-backend.log

EnvironmentFile=/root/creds/.psql_creds
EnvironmentFile=/root/creds/.mongodb_creds
EnvironmentFile=/root/creds/.jks_creds

Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}?ssl=true&sslrootcert=/opt/sausage-store/bin/certs/YandexInternalRootCA.crt"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASS}"

Environment=SPRING_DATA_MONGODB_URI="mongodb://${MONGO_USER}:${MONGO_PASS}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DBNAME}?tls=true"

Environment="REPORT_PATH=/var/sausage-store/reports"

ExecStart=/usr/lib/jvm/java-16-openjdk-amd64/bin/java -jar /opt/sausage-store/bin/sausage-store.jar -Djavax.net.ssl.trustStore=/opt/sausage-store/bin/certs/YATrustStore -Djavax.net.ssl.trustStorePassword=${JAVA_KEYSTORE_PASS}

SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
